html {


}


body {
	margin:0;
	font-family: californian-fb-text, serif;
}


.notContainer {
	display: block;
	width: 100%;
	text-align: center;

}


.headColor {
	background-color: rgba(200,200,200,.6);
}
.scaleHeader {
	height:72px;
}
.cus-bgImage {
	position: absolute;
	top:0px;
	z-index: -1;
	opacity: 0.75;
	width:1920px;
	height:1080px;
	object-fit: cover;
}


.fontSize1 {
	font-size: 10rem;
}
.fontSize2 {
	font-size: 4rem;
}
.fontSize3 {
	font-size: 1.4rem;
}
.welcomeText {
	margin-top:240px;
}
.fullreelText {
	margin-top:180px;
}
.fullReel {
	height:6rem;
	width:24rem;
}


.borderWidth1 {
	border-width: thin;
}


.fontC {
	font-family: californian-fb-text, serif;

}
.fontS {
	font-family: sanvito-pro, sans-serif;

}




.aboutMe {
	margin-top:300px;
	font-size:1.75rem;
}

@media only screen and (min-width: 1080px) {
	
	.cus-bgImage{
		width:100%;
	}
	
}